#web_bg {
  /* 背景图像的地址（url括号里）  */
  background: url(https://ae01.alicdn.com/kf/H18a4b998752a4ae68b8e85d432a5aef0l.png);
  /* 背景图像不重复 */
  background-repeat: no-repeat;
  /* 背景图像大小 */
  background-size: cover;
}